@model Employee
<h1>Add a new employee</h1>
Please enter the values you would like to add.
    @using (Html.BeginForm("InsertEmployeeToDataBase", "Employee", "post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID"/>


    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name"/>



    <label asp-for="Address_1" class="control-label">Address Line 1</label>
   <input type="text" name="address_1" class="form-control" value="@Model.Address_1"/>



    <label asp-for="Address_2" class="control-label">Address Line 2</label>
    <input type="text" name="address_2" class="form-control" value="@Model.Address_2"/>



    <label asp-for="City" class="control-label">City</label> 
    <input type="text" name="City" class="form-control" value="@Model.City"/>



    <label asp-for="State" class="control-label">State</label>
    <input type="text" name="State" class="form-control" value="@Model.State"/>



    <label asp-for="Zip_Code" class="control-label">Zip Code</label>
    <input type="text" name="Zip_Code" class="form-control" value="@Model.Zip_Code"/>



    <label asp-for="phone" class="control-label">Phone</label>
    <input type="text" name="phone" class="form-control" value="@Model.phone"/>



    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" value="@Model.Email"/>



    <label asp-for="Pay_Rate" class="control-label">Pay Rate per hr</label>
    <input type="text" name="Pay_Rate" class="form-control" value="@Model.Pay_Rate" />

    <label asp-for="Hired_at" class="control-label">Hire on date</label>
    <input type="text" name="Hired_at" class="form-control" value="@Model.Hired_at" />

    
    <input type="submit" value="Update " class="btn btn-primary"/>
}