
@model Employee
<h1>Current Employee</h1>
<table class = "table">
    <tr>
        <th>Name</th>
            <th>ID</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>phone</th>
            <th>Email</th>
            <th>Pay Rate</th>
            <th>Hired Date</th>
    </tr>
    <tr>    
        <td>@Model.Name</td>
        <td>@Model.ID</td>
        <td>@Model.Address_1</td>
        <td>@Model.Address_2</td>
        <td>@Model.City</td>
        <td>@Model.State</td>
        <td>@Model.Zip_Code</td>
        <td>@Model.phone</td>
        <td>@Model.Email</td>
        <td>@Model.Pay_Rate</td>
        <td>@Model.Hired_at</td>
    </tr>
</table>
<div style="display:block">
    <a class='btn btn-primary btn-sm' href="/Employee/UpdateEmployee/@Model.ID">Update this employee</a>
</div>
<div style="display:block">
    @using (Html.BeginForm("DeleteEmployeeFromDataBase", "employee", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input class="btn btn-danger btn -lg" type="submit" onclick="return confirm('Are you sure?')" value="Delete this employee"/>
        
    }
</div>


